.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px;
}

.wrapper {
  border: 1px solid #dac8c8;
  max-width: 400px;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
